@using Stimulsoft.Report.Mvc;

@{
    ViewData["Title"] = "Index";
}

<h2>Runtime Dashboard Creation</h2>

@Html.Stimulsoft().StiMvcDesigner(new StiMvcDesignerOptions()
{
    Actions =
    {
        GetReport = "GetReport",
        DesignerEvent = "DesignerEvent"
    }
})