html {
    height: 100%;
    overflow: hidden;
}

body {
    font-size: 12px;
    font-family: Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #fff;
    overflow: hidden;
}

div.separator {
    height: 2px;
    border-top: dashed 1px #c8c8c8;
    padding: 3px;
}

div.main {
    overflow: auto;
    position: absolute;
    top: 40px;
    bottom: 50px;
    left: 0px;
    width: 270px;
}

table.main {
    width: 100%;
    height: 100%;
}

td.menu {
    width: 270px;
    height: 100%;
}

td.menu h3 {
    font-size: 20px;
    font-weight: normal;
    margin: 6px 0 6px 10px;
    color: dimgrey;
}

td.menu a {
    display: block;
    padding: 8px 10px;
    text-decoration: none;
    font-size: 14px;
    color: black;
}

td.menu a.current {
    background: #74bbff;
    color: white;
}

td.menu a:hover {
    background: #3a9eff;
    color: white;
}

td.viewer {
    background-color: #e8e8e8;
    height: 100%;
}

td.menu,
td.viewer {
    vertical-align: top;
}

td.line {
    background-color: white;
    width: 0;
}

td.link {
    text-align: center;
    vertical-align: bottom;
}

div.line {
    width: 5px;
}

img.link {
    padding: 10px;
}
