@{
    ViewBag.Title = "Home Page";
}

<hr />

<div class="row">
    <div class="col-md-4">
        <h3>Show Dashboard</h3>
        <p>@Html.ActionLink("Create", "Index", "Viewer")</p>
    </div>
    <div class="col-md-4">
        <h3>Edit Dashboard</h3>
        <p>@Html.ActionLink("Create", "Index", "Designer")</p>
    </div>
    <div class="col-md-4">
        <h3>Export To Excel</h3>
        <p>@Html.ActionLink("Create", "Export", "Home")</p>
    </div>
</div>