@using Stimulsoft.Report.Mvc;

@{
    ViewData["Title"] = "Index";
}

<h2>Register Data for Dashboard Template</h2>

@Html.Stimulsoft().StiMvcViewer(new StiMvcViewerOptions()
{
    Actions =
    {
        GetReport = "GetReport",
        ViewerEvent = "ViewerEvent"
    }
})