@using Stimulsoft.Report.Mvc;

@{
    ViewData["Title"] = "Index";
}

<h2>Creating Dashboard at Runtime</h2>

@Html.Stimulsoft().StiMvcDesigner(new StiMvcDesignerOptions()
{
    Actions =
    {
        GetReport = "GetReport",
        DesignerEvent = "DesignerEvent"
    }
})